
.RightContainer {
    flex: 76%;
    background-color: white;
    padding-top: 80px;

    .rsc {
        height: 100%;
        .dPdbIW {
            height: 100%;
        }
        .fBGGBn {
            height: calc(100% - 50px);
            overflow: auto;
        }
        .efROPc {
            // align-items: flex-start;
        }
        .iOCYje {
            background-color: silver !important;
            color: black;
        }
        .jKLQUD {
            background: none;
            box-shadow: none;
        }
        .hWUVhF {
            height: calc(100% - 56px);
        }
    }

}