
.Header {
    height:80px;
    width:100%;
    top:0px;
    left:0px;
    background: black;
    position:absolute;

    h1 {
        color: white;
        margin: 0;
        padding: 0;
        letter-spacing: .1rem;
        padding-top: 1rem;
    }
}